/* pagina iniziale */
body {
  font-family: 'Orbitron', sans-serif;
  background-image: url(img/sfondo.png);
  
}
:root {
 --ff-arancio: rgb(228, 149, 87);
  --ff-acqua: rgb(137, 235, 204);
  --ff-marrone: rgb(114, 60, 18);
  --ff-verde: rgb(84, 180, 132);
  --ff-rosa: rgb(206, 173, 185);
  --ff-bordeaux: rgb(134, 75, 82);
  --ff-bianco: rgb(222, 220, 220);

}
.start-div {
  min-height: 100vh;
  padding: 2rem 0;
}
.imgcustom:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: brightness(1.2);
  cursor: pointer;
}
#start {
  color: var(--ff-bianco);
  text-shadow: 4px 4px 4px rgba(190, 6, 6, 1.5);
}
.imgcustom{
    border-radius: 50%;
    box-shadow: inset 5px 5px 15px rgba(100, 0, 0, 1.3);
}